.btn {
    all:unset;
    margin: 1rem 4rem 0px 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(107, 3, 3);
    width: 10rem;
    height: 3rem;
    border-radius: 12px;
    font-weight: 900;
    transition: all 0.4s ease;
    border: 2px solid white;
    z-index: 2;
}

.btn:hover {
    transform: scale(1.1);
}