.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10%;
    width: 100%;
    position: fixed;
    background-color: rgb(135, 36, 36);
    border-bottom: 1px solid black;
    z-index: 2;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.title {
    margin: 1rem 0 2rem 2rem;
    color: white;
    font-size: xx-large;
    font-weight: 900;
    text-shadow: 10px;
}