.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10%;
    width: 100%;
    position: fixed;
    background-color: rgb(159, 23, 23);
    border-bottom: 1px solid black;
    z-index: 2;
    
}

.title {
    margin: 1rem 0 2rem 2rem;
    color: white;
    font-size: x-large;
    text-shadow: 10px;
    font-family: 'Mulish', sans-serif;
    font-size:x-large;
    font-weight: 700;
}

.profile {
    z-index: 2;
    border: unset;
    height: 60px;
    width: 60px;
    margin-top: 10px;
    margin-right: 5px;
    background-color: rgb(159, 23, 23);

    color: white;
}
.hold {
    display: flex;
    gap: 20px;
}


